################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeTeCt-MFC/Win32/Debug/DeTeCt-MFC.tlog/unsuccessfulbuild
*.tlog
*.pch
*.obj
*.pdb
*.log
*.ipdb
*.pdb
*.idb
*.iobj
*.iodb
*.ilk
*.bat
/x64/Release/tést
/x64/Debug/DeTeCt.exe
/x64/Release/DeTeCt_processes_queue.lst
/x64/Release/_DeTeCt_processes_queue - Copie.lst
/DeTeCt-MFC/x64/Release/DeTeCt.pch.codeanalysis
*.codeanalysisast
*.lastcodeanalysissucceeded
/x64/Release/DeTeCt.versions_old
*.txt
*.enc
*.recipe
/DeTeCt-MFC/x64/Release/DeTeCt.pchast
/x64/Release/dlls
*.sarif
*.lastbuildstate
*.ClangTidy
