################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeTeCt-MFC/Win32/Debug/DeTeCt-MFC.tlog/unsuccessfulbuild
*.tlog
*.pch
*.obj
*.pdb
*.log
*.ipdb
*.pdb
*.idb
*.iobj
*.iodb
*.ilk
*.bat
